<div class="dashboard-wrapper">
	<div nz-row>
		<div nz-col [nzSpan]="24" class="dashboard-header">
			<div class="logo"></div>
			<div class="header-user-menu" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
				<span nz-typography>Arang Solanki</span>
				<div class="user-profile">
					<i nz-icon nzType="user" nzTheme="outline"></i>
				</div>
				<strong><i nz-icon nzType="down" nzTheme="outline"></i></strong>
				<nz-dropdown-menu #menu="nzDropdownMenu">
					<ul nz-menu>
						<li nz-menu-item>Edit Profile</li>
						<li nz-menu-item (click)="logout()">Logout</li>
					</ul>
				</nz-dropdown-menu>
			</div>
		</div>
		<div nz-row class="dashboard-title">
			<div nz-col [nzSpan]="24">
				<h1 nz-typography><strong>Dashboard</strong></h1>
			</div>
			<div nz-col [nzSpan]="13" class="dashboard-container">
				<div *ngIf="studies$ | async; let items; else: loading">
					<div nz-row [nzGutter]="[16, 16]">
						<div nz-col [nzSpan]="12" *ngFor="let item of items">
							<div class="study-container">
								<div class="study-info-container">
									<span class="study-name">{{ item.study_name }}</span>
									<div class="study-duration-container"><span>On-going</span><span> | 5 days left</span></div>
								</div>
								<div class="study-user-count">
									<i nz-icon nzType="team" nzTheme="outline"></i>
									<span class="sub-count">0</span><span class="total-count">/{{ item.patients.length }}</span>
								</div>
							</div>
						</div>
						<!-- <div *ngIf="items.length === 0">No results, try clearing filters</div> -->
					</div>
					

					<!-- <div nz-col [nzSpan]="12">
						<div class="study-container">
							<div class="study-info-container">
								<span class="study-name">Study Name</span>
								<div class="study-duration-container"><span>On-going</span><span> | 19 days left</span></div>
							</div>
							<div class="study-user-count">
								<i nz-icon nzType="team" nzTheme="outline"></i>
								<span class="sub-count">30</span><span class="total-count">/34</span>
							</div>
						</div>
					</div>
					<div nz-col [nzSpan]="12">
						<div class="study-container">
							<div class="study-info-container">
								<span class="study-name">Study Name</span>
								<div class="study-duration-container"><span>On-going</span><span> | 19 days left</span></div>
							</div>
							<div class="study-user-count">
								<i nz-icon nzType="team" nzTheme="outline"></i>
								<span class="sub-count">30</span><span class="total-count">/34</span>
							</div>
						</div>
          </div>
          <div nz-col [nzSpan]="12">
						<div class="study-container">
							<div class="study-info-container">
								<span class="study-name">A longer study name</span>
								<div class="study-duration-container"><span>On-going</span><span> | 19 days left</span></div>
							</div>
							<div class="study-user-count">
								<i nz-icon nzType="team" nzTheme="outline"></i>
								<span class="sub-count">30</span><span class="total-count">/34</span>
							</div>
						</div>
					</div> -->
				</div>
				<ng-template #loading>Loading&hellip;</ng-template>
			</div>
		</div>
	</div>
</div>
